/**** GENERAL ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  #main {
    margin: 2em auto;
    background-color: lightgray;
  }
  
/**** Carousel ****/

  /* Cards */
  #carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 220px;
    margin: auto;
  }
  
  #cardsCont {
    display: flex;
    justify-content: space-evenly;
  }
  
  .card {
    width: 90px;
    height: 120px;
    background-color: lightblue;
    border: 3px solid rgb(218, 218, 218);
    border-radius: 10px;
  }

  .selected-card {
    transform: scale(1.1);
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1), 0 0 50px hsla(144, 100%, 50%, 0.625);
    border: 3px solid hsla(113, 100%, 86%, 0.673);
    margin: 0px 3.5em;
  }
  
  /* Indicator Line */
  #indicatorLine {
    margin: auto;
  }
  
  /* Control Buttons */
  #carouselControls {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 140px;
    z-index: 10;
  }

  button {
    width: 0;
    height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #leftBtn {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(50, 50, 50);
  }
  
  #rightBtn {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(50, 50, 50);
  }
  

/**** Benchmark ****/

  #benchmarkGrid {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
  }
  
  /* Left-Side */
  #leftSideCont {
    width: 100%;
    height: 60%;
    align-self: center;
    border-right: 4px solid gray;
    background-color: lightcoral;
  }


  /* Benchmarks */

  #benchmarksCont {
    margin: auto;
    background-color: lightblue;
  }

  #resolutionsCont, p {
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
    color: rgb(58, 58, 58);
  }
  
  .circle-bg {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 10;
  }
  
  .circle-outer {
    fill: none;
    stroke: rgb(47, 47, 47);
    stroke-width: 10;
  }
  
  .circle-progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 10;
  }
  
  .indicator-number {
    font-size: 24px;
    fill: rgb(47, 47, 47);
  }
  
  /* Right-Side */
  
  #RightSideCont {
    height: 60%;
    align-self: center;
    background-color: lightcoral;
    border-left: 4px solid gray;
  }

  #resolutionGuideCont {
    background-color: lightpink;
  }

  .resolution-guide {
    fill: none;
    stroke-width: 4;
  }