/**** GENERAL ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }

  body {
    font-family: Arial, sans-serif;
    font-weight: 300;
    background-color: rgb(82, 82, 82);
  }
  
  #main {
    position: absolute;
    width: 100%;
    padding: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
/**** Carousel ****/

  /* Cards */
  #carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
    margin: auto;
  }
  
  #cardsCont {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .card {
    width: 98px;
    height: 130px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: -13px 13px 15px rgba(0, 0, 0, 0.3);
    filter: saturate(30%);
  }

  .card img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .selected-card {
    transform: scale(1.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2), 0 0 30px hsl(123, 100%, 63%);
    border: 3px solid hsl(124, 100%, 89%);
    margin: 0px 4em;
    filter: saturate(100%);
  }
  

  /* Indicator Line */
  #indicatorLine {
    margin: 0;
    margin: auto;
  }
  
  /* Control Buttons */
  #carouselControls {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-57%, -50%);
    display: flex;
    gap: 200px;
    z-index: 10;
  }

  button {
    width: 0;
    height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #leftBtn i{
    font-size: 2.5rem;
    color: rgb(52, 52, 52);
    transform: rotate(180deg);
  }
  
  #rightBtn i{
    font-size: 2.5rem;
    color: rgb(52, 52, 52);
  }
  

/**** Benchmark ****/

  #benchmarkGrid {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
  }
  
  /* Left-Side */
  #leftSideCont {
    display: flex;
    width: 100%;
    height: 60%;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: end;
    border-right: 4px solid gray;
  }

  #leftSideCont img {
    width: 50%;
    max-height: 50%;
  }


  /* Benchmarks */

  #benchmarksCont {
    margin: auto;
  }

  #resolutionsCont {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
  }

  #resolutionsCont p{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
  }

  #resolutionsCont p:nth-child(1) {
    transform: translate(-6px, 15px);
}
  #resolutionsCont p:nth-child(2) {
    transform: translate(-9px, 15px);
}
  #resolutionsCont p:nth-child(3) {
    transform: translate(-3px, 15px);
}
  
  .circular-indicator text {
    font-size: 2.3rem;
    font-weight: 800;
    color: black;
  }

  .circle-bg {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 10;
  }
  
  .circle-outer {
    fill: none;
    stroke: rgb(47, 47, 47);
    stroke-width: 10;
  }
  
  .benchmark-progress {
    fill: none;
    stroke-width: 8;
    transform: rotate(90deg);
    stroke-linecap: round;
    transform-origin: center;
    transition: stroke-dasharray 0.5s ease;
  }
  
  .indicator-number {
    font-size: 24px;
    fill: rgb(47, 47, 47);
  }
  
  /* Right-Side */
  
  #RightSideCont {
    display: flex;
    height: 65%;
    align-self: center;
    border-left: 4px solid gray;
    padding-left: 0.5em;
  }

  .fps-guide-ring {
    fill: none;
    stroke-width: 2.5;
  }

  #fpsTextCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0 11px 0;
  }

  #fpsTextCont strong {
    margin-right: 6px;
    font-weight: 800;
    font-size: 0.9rem;
  }

  #fpsTextCont p {
    font-size: 0.8rem;
    opacity: 0.8;
  }